@media (min-width: 481px) {
    .landing {
        max-width: 1080px;
        .landing__works {
            .landing__works--single {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 10vh 0;

                img {
                    max-width: 20%;
                    margin: 0 5%;
                }
                .landing__works--text-container {
                    max-width: 40%;
                    margin: 0 5%;
                }
            }
        }
    }
}

.landing__main {
    text-align: center;
}